@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
  }

a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

.app-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "sidebar cv-form";
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,0.8);
}

@media (max-width: 600px) {
  .app-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "cv-form"
                          "sidebar";
  }
}

@media (min-width: 1400px) {
  .app-wrapper {
    font-size: 1.4em;
  }

  input, textarea {
    font-size: 0.8em;
  }
}

.sidebar {
  grid-area: sidebar;
  min-width: 200px;
  height: 100%;
  text-align: center;
  background-color: thistle;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar > * {
  padding: 1em;
}

.credits-wrapper {
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
}

.credits-wrapper:hover {
  background-color: rgba(0,0,0,0.6);
}

.credits-wrapper a {
  color: #F2F2F2;
}

.github-mark {
  width: 2em;
  height: 2em;
  filter: invert(1);
  margin-bottom: 0.5em;
}

