.education-section {
  background-color: #F2F2F2;
  grid-area: education;
}

.school-entry {
  margin-bottom: 2em 0;
}

.school-entry > * {
  margin-bottom: 0.5em;
}

.school-qualification {
  font-style: italic;
}
