.name-section {
  position: relative;
  height: 4em;
  background-color: #DADADA;
  grid-area: name;
}

.name-section h1 {
  position: absolute;
  left: 0;
  padding: 0.5em 0 0.5em 0.5em;
  min-width: 60%;
  max-width: 80%;
  background-color: #F3F5F8;
  text-transform: uppercase;
}
