.name-section {
  background-color: #DADADA;
  grid-area: name;
  padding-left: 0;
}

.name-section h1 {
  padding: 0.5em 0 0.5em 0.5em;
  min-width: 60%;
  max-width: 80%;
  background-color: #F3F5F8;
  text-transform: uppercase;
}
